<div *ngIf="isChef() == true" class="content-wrapper">
  <button (click)="newTask()" mat-button>
    <mat-icon>add</mat-icon> Ajouter client
  </button>

  <div class="container-wrapper">
    <div class="container">
      <h2>Client</h2>
      <mat-card cdkDropList id="Client" #todoList="cdkDropList" [cdkDropListData]="todo | async"
        (cdkDropListDropped)="drop($event)" class="list">
        <p class="empty-label" *ngIf="(todo | async)?.length === 0">Liste de client vide</p>
        <app-task (edit)="editTask('todo', $event)" *ngFor="let task of todo | async" cdkDrag [task]="task"></app-task>
      </mat-card>
    </div>
  </div>
  <app-give-points></app-give-points>
  <app-create-user></app-create-user>
</div>

<div *ngIf="isChef() == false" class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <button (click)="authService.SignOut()" mat-button>
              <mat-icon>exit_to_app</mat-icon> Ce déconécter
            </button>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">
        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Modifier les informations client : </h1>
        </div>
        <form (ngSubmit)="onSubmit()">
          <label>Nom:
            <input type="text" [(ngModel)] ="displayName" name = "nom">
          </label>
          <label> E-mail:
            <input type="text" [(ngModel)]= "email" name ="email">
          </label>
          <button type="submit">Enregistrer</button>
        </form>
      </div>
    </main>
  </div>
</div>
