<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Merci pour votre inscription !</h3>
        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">On vous à envoyer un mail de confirmation a <strong>{{user.email}}</strong>.</p>
          <p class="text-center">Regarder vos mail et cliquer sur le lien de vérification d'adresse mail</p>
        </div>
        
        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
          <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
            <i class="fas fa-redo-alt"></i>
            Renvoyer un mail de confirmation
          </button>
        </div>
      </div>
      <div class="redirectToLogin">
        <span>Retour?<span class="redirect" routerLink="/sign-in"> S'identifier </span></span>
      </div>
    </div>
  </div>